body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center; 
  min-height: 100vh;        
  text-align: center;
}

header {
  padding: 20px;
}

header h1 {
  font-size: 2.5rem;
  color: palevioletred;
  margin-bottom: 8px;
}

header p {
  font-size: 1.5rem;
  color: bisque;
  max-width: 550px;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 280px;
  text-align: center;
  
}

.card img {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card img:hover {
  box-shadow: 0 8px 20px rgba(255, 105, 180, 0.5);
  transition: box-shadow 0.3s ease; 
}


.card h2 {
  color: #ff69b4;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.card p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #444;
}

footer {
  margin-top: 30px;
  padding: 10px;
  background: #ffe4e1;
  color: #444;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 280px;
  text-align: center;
}

.card img {
  width: 100%;
  max-width: 230px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 10px;
}

.card h2 {
  color: #ff69b4;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #444;
}